canvas {
    border: 1px solid black;
    align-content: center;
}
#wrapper {
    text-align: center;
}
#generateButton {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
#pageTitle {
    text-align: center;
}
#miniTutorial {
    text-align: center;
}